<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>分数排行榜</title>
</head>
<body>
<h1 align="center">排行榜</h1>
<table align="center" width="704" border="1px,solid,#ccc">
    <tr>
        <td>项目名称</td>
        <td>最高分</td>
        <td>最低分</td>
        <td>最终得分</td>
    </tr>
    <tr th:each="model : ${marksInDB}">
        <td th:text="${model.projectName}"></td>
        <td th:text="${model.markMax}"></td>
        <td th:text="${model.markMin}"></td>
        <td th:text="${model.markFinal}"></td>
    </tr>
</table>
<form action="/" method="post">
    <table>
        <center><button type="submit">返回</button></center>
    </table>
</form>
</body>
</html>