<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>评分表</title>
</head>
<body>
<h1 align="center">评分表</h1>
<form action="/submit" method="post">
    <table align="center" >
        <tr>
            <td>项目名称</td>
            <td><input type="text" name="projectName"/></td>
        </tr>
        <tr>
            <td></td>
            <td>得分点一</td>
            <td>得分点二</td>
            <td>得分点三</td>
            <td>得分点四</td>
        </tr>
        <tr>
            <td>评委一</td>
            <td><input type="text" name="group11" maxlength="2"/></td>
            <td><input type="text" name="group12" maxlength="2"/></td>
            <td><input type="text" name="group13" maxlength="2"/></td>
            <td><input type="text" name="group14" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委二</td>
            <td><input type="text" name="group21" maxlength="2"/></td>
            <td><input type="text" name="group22" maxlength="2"/></td>
            <td><input type="text" name="group23" maxlength="2"/></td>
            <td><input type="text" name="group24" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委三</td>
            <td><input type="text" name="group31" maxlength="2"/></td>
            <td><input type="text" name="group32" maxlength="2"/></td>
            <td><input type="text" name="group33" maxlength="2"/></td>
            <td><input type="text" name="group34" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委四</td>
            <td><input type="text" name="group41" maxlength="2"/></td>
            <td><input type="text" name="group42" maxlength="2"/></td>
            <td><input type="text" name="group43" maxlength="2"/></td>
            <td><input type="text" name="group44" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委五</td>
            <td><input type="text" name="group51" maxlength="2"/></td>
            <td><input type="text" name="group52" maxlength="2"/></td>
            <td><input type="text" name="group53" maxlength="2"/></td>
            <td><input type="text" name="group54" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委六</td>
            <td><input type="text" name="group61" maxlength="2"/></td>
            <td><input type="text" name="group62" maxlength="2"/></td>
            <td><input type="text" name="group63" maxlength="2"/></td>
            <td><input type="text" name="group64" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委七</td>
            <td><input type="text" name="group71" maxlength="2"/></td>
            <td><input type="text" name="group72" maxlength="2"/></td>
            <td><input type="text" name="group73" maxlength="2"/></td>
            <td><input type="text" name="group74" maxlength="2"/></td>
        </tr>
        <tr>
            <td>评委八</td>
            <td><input type="text" name="group81" maxlength="2"/></td>
            <td><input type="text" name="group82" maxlength="2"/></td>
            <td><input type="text" name="group83" maxlength="2"/></td>
            <td><input type="text" name="group84" maxlength="2"/></td>
        </tr>
        <tr>
            <td align="center" colspan="5"><input type="submit" value="提交"/></td>
        </tr>
    </table>
</form>
    <form action="/check" method="post">
        <center><input type="submit" value="查看排行榜"/></center>
    </form>
</body>
</html>